	<header>
		<h2> Accueil</h2>
	</header>
	
	<div class="container" ng-controller="mainNavBar">
		<div class="row-fluid">
			
			<div class="span9">
					<div class="span2">
						<img src="img/image_accueil.png" >
					</div>
				
					<div class="span1"></div>
				
					<div class="span5">
						<br/>
						<div class="presentation">
							<h5>Vous aimez vos vêtements et vous en prenez soin !</h5>
							<br/>
							<h5>Par contre, vous aimez beaucoup moins dépenser votre temps et votre argent en pressing !</h5>
							<br/>
							<h4><span class="h4-vibur">Cleen</span> vous permet d'échanger vos conseils et vos astuces pour entretenir vos vêtements Claudie Pierlot, Maje, Sandro et The Kooples.</h4>
						</div>
					</div>
				
					<div class="span1"></div>
				
					<div class="span3">
						<img src="img/image_accueil3.png" >
					</div>

				
				<div class="span12"><br/>
					<hr>
					<br/>
					<h3>Trouver un vêtement</h3>
					<br/>
				</div>
				
				
				<div class="span6">
					<ul class="categorie">
						<div class="nav-header"><a href="#/clothes/women">Femme</a></div>
						<li ng-repeat ="menu in typesW"><a ng-href="#/clothes/women/{{menu.type}}">{{menu.type}}</a><hr></li>					
					</ul>
					
					<ul class="categorie">
						<div class="nav-header"><a href="#/clothes/men">Homme</a></div>
						<li ng-repeat ="menu in typesM"><a ng-href="#/clothes/men/{{menu.type}}">{{menu.type}}</a><hr></li>
						 			
					</ul>
					
					<ul class="categorie">
						<div class="nav-header"><a href="#colors">Couleurs</a></div>
						<li ng-repeat ="menu in colors"><a ng-href="#/color/{{menu.color}}">{{menu.color}}</a><hr></li>				
					</ul>
					
				</div>
				
				<div class="span6">
					<ul class="categorie">
						<div class="nav-header"><a href="#brand">Marques</a></div>
						 <li ng-repeat ="menu in brands"><a ng-href="#/brand/{{menu.brand}}">{{menu.brand}}</a><hr></li>		
					</ul>
								
					<ul class="categorie">
						<div class="nav-header"><a href="#materials">Matières</a></div>
						 <li ng-repeat ="menu in materials"><a ng-href="#/materials/{{menu.material}}">{{menu.material}}</a><hr></li>
					</ul>
				</div>
			</div>
				
			
			
		</div>
	</div>
	
	