<!doctype html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container" ng-controller="loginController">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Connexion</h1>

        <!-- show any messages that come back with authentication -->
        <div class='alert alert-danger' ng-show="show"> <span ng-bind='message'></span> </div>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-primary btn-lg" ng-click="toggle()">Connexion</button>
        </form>

        <hr>

        <p>Pas encore de compte? <a href="/#/signup">Inscription</a></p>
        <p>Ou retour au <a href="/">menu principal</a>.</p>

    </div>

</div>
</body>
</html>