
<div ng-controller="authController">
	<header>
		<h2>Mon compte</h2>
	</header>
	
	<div class="container">
		<div class="row-fluid">
	
			<div class="span12">				
				<div class ="span1">
					<img class="img-user" src="../img/justine.png"/>
				</div>
				
				<div class="span1"></div>
				
				<div class="span8">
                    <a href="/logout" class="btn btn-default btn-sm">Déconnexion</a>
					<div class="span8">
						<div class="span3">Nom : </div>
						<div class="span3">Dupont</div>
					</div>
					<div class="span8">
						<div class="span3">Prénom : </div>
						<div class="span3">Justine</div>
					</div>
					<div class="span8">
						<div class="span3">E-mail : </div>
						<div class="span3">justine.dupont@gmail.com</div>
					</div>
				</div>
			</div>
			
			<div class="span12"><hr></div>
			
			<div class="span12"><h4>Mes vêtements ajoutés</h4>
				<a href="#/new" class="btn btn-info">Nouveau vêtement</a>
				<div class="span3">
					<div class="nom-vetement"><a href="#">Cardigan Sandro Bleu</a></div>
					<div class="nom-vetement"><a href="#">Sandro</a></div>
					<img class="img-miniature" style="max-width:250px" src="../img/cardigan_bleu_sandro.JPG"/>
				</div>
				
				<div class="span3">
					<div class="nom-vetement"><a href="#">Chemise à carreaux rouge</a></div>
					<div class="nom-vetement"><a href="#">The Kooples</a></div>
					<img class="img-miniature" style="max-width:250px" src="../img/chemise_carreaux_rouge_thekooples.jpg"/>
				</div>
				
				<div class="span3">
					<div class="nom-vetement"><a href="#">Robe Maille blanche</a></div>
					<div class="nom-vetement"><a href="#">Sandro</a></div>
					<img class="img-miniature" style="max-width:250px" src="../img/robe_maille_blanche_sandro.JPG"/>
				</div>
				
			
			
			</div>
			
			
			
									
			
		</div>
	</div>
</div>
	
