	<header>
		<h2>Nouveau vêtement</h2>
	</header>

	<div class="container">
	
	<form class="form-horizontal" role="form" ng-submit="submit()" >
		<div class="row">
			<div class="form-group">	
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Marque</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control">
								<option>&nbsp;</option>
								<option ng-repeat ="menu in brands | orderBy:'brand'">{{menu.brand}}</option>
						</select>
					</div>
				</div>
			</div>	
		</div>
	<div class="row" >
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div >
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
						
					</div>
					<div ng-hide="hide1">
						<button ng-click="show2 = true;hide1=true;showtextbox1=true"  type="button" class="btn btn-info">+</button>
					</div>
						
					
				</div>
			</div>
	</div>
	
		<div class="row" ng-show="showtextbox1">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div>
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					
					</div>
					<div ng-show="show2">
						<button ng-click="show3 = true;show2=false;showtextbox2=true"type="button" class="btn btn-info" >+</button>
					</div>
				</div>
			</div>
		</div>
	
		<div ng-show="showtextbox2"class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
				<div>
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
					<div ng-show="show3">
						<button ng-click="show4 = true;show3=false;showtextbox3=true"type="button" class="btn btn-info">+</button>
					</div>
					
				</div>
			</div>
		</div>
	
		<div ng-show="showtextbox3" class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div>
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
				<div ng-show="show4">
						<button ng-click="show5 = true;show4=false;showtextbox4=true"type="button" class="btn btn-info">+</button>
					</div>
					
				</div>
			</div>
		</div>
	
		<div ng-show="showtextbox4" class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div>
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
					<div ng-show="show5">
						<button ng-click="show6=true;show5=false;showtextbox5=true"type="button" class="btn btn-info" >+</button>
					</div>	
					
				</div>
			</div>
		</div>
	
		<div ng-show="showtextbox5"  class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div>
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
					<div ng-show="show6">
						<button ng-click="show7 = true;show6=false;showtextbox6=true"type="button" class="btn btn-info" >+</button>
					</div>
					
				</div>
			</div>
		</div>
	
		<div ng-show="showtextbox6" class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div>
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
				<div ng-show="show7">
						<button ng-click="show8 = true;show7=false;showtextbox7=true" type="button" class="btn btn-info">+</button>
				</div>
					
				</div>
			</div>
		</div>
	
		<div ng-show="showtextbox7" class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div>
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
				<div ng-show="show8">
						<button ng-click="show9 = true;show8=false;showtextbox8=true" type="button" class="btn btn-info">+</button>
				</div>
				</div>
			</div>
		</div>
	
		<div  ng-show="showtextbox8"class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div ng-controller="mainNavBar">
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
				<div ng-show="show9">
						<button ng-click="show10 = true;show9=false;showtextbox9=true" type="button" class="btn btn-info">+</button>
				</div>
				</div>
			</div>
		</div>
	
		<div class="row" ng-show="showtextbox9">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials | orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div ng-controller="mainNavBar">
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
				<div ng-show="show10">
						<button ng-click="show10=false;showtextbox10=true" type="button" class="btn btn-info">+</button>
				</div>
				</div>
			</div>
		</div>
	
				
		<div class="row" ng-show="showtextbox10">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matière %</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials| orderBy:'material'">{{menu.material}}</option>
						</select>
					</div>
				</div>
			
			
				<div ng-controller="mainNavBar">
					<div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
								<option>32</option>
								<option>33</option>
								<option>34</option>
								<option>35</option>
								<option>36</option>
								<option>37</option>
								<option>38</option>
								<option>39</option>
								<option>40</option>
								<option>41</option>
								<option>42</option>
								<option>43</option>
								<option>44</option>
								<option>45</option>
								<option>46</option>
								<option>47</option>
								<option>48</option>
								<option>49</option>
								<option>50</option>
								<option>51</option>
								<option>52</option>
								<option>53</option>
								<option>54</option>
								<option>55</option>
								<option>56</option>
								<option>57</option>
								<option>58</option>
								<option>59</option>
								<option>60</option>
								<option>61</option>
								<option>62</option>
								<option>63</option>
								<option>64</option>
								<option>65</option>
								<option>66</option>
								<option>67</option>
								<option>68</option>
								<option>69</option>
								<option>70</option>
								<option>71</option>
								<option>72</option>
								<option>73</option>
								<option>74</option>
								<option>75</option>
								<option>76</option>
								<option>77</option>
								<option>78</option>
								<option>79</option>
								<option>80</option>
								<option>81</option>
								<option>82</option>
								<option>83</option>
								<option>84</option>
								<option>85</option>
								<option>86</option>
								<option>87</option>
								<option>88</option>
								<option>89</option>
								<option>90</option>
								<option>91</option>
								<option>92</option>
								<option>93</option>
								<option>94</option>
								<option>95</option>
								<option>96</option>
								<option>97</option>
								<option>98</option>
								<option>99</option>
								<option>100</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
		
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label" for="simple"> Couleurs</label>
						<div class="col-sm-2">
							<select id="simple" class="form-control">
								<option>&nbsp;</option>
								<option ng-repeat ="menu in colors| orderBy:'color'">{{menu.color}}</option>
								
							</select>
						</div>
					</div>
			
			
			
			<div ng-controller="mainNavBar">
				<div class="col-sm-2">
					<select class="form-control">
						<option>&nbsp;</option>
						<option ng-repeat ="menu in colors | orderBy:'color'">{{menu.color}}</option>
						
					</select>
				</div>
			</div>
			
			
				<div ng-controller="mainNavBar">
					<div class="col-sm-2">
						<select class="form-control">
							<option>&nbsp;</option>
							<option ng-repeat ="menu in colors | orderBy:'color'">{{menu.color}}</option>
							
						</select>
					</div>
				</div>
			
			</div>	
		</div>
		
		<div class ="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Genre</label>
					<div class="col-sm-2"  ng-hide="checkedM">
						<input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="checkedW"> Femme
					</div>
					<div class="col-sm-2" ng-hide="checkedW">
						<input type="checkbox" id="inlineCheckbox2" value="option2" ng-model="checkedM" > Homme
						
					</div>
				</div>
		</div>
		<div class ="row">
			<div class="form-group">
				<div ng-controller="mainNavBar" class="check-element animate-show" ng-show="checkedW">
					<label class="col-sm-1 control-label">Vêtement</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control">
								<option>&nbsp;</option>
								<option ng-repeat ="menu in typesW">{{menu.type}}</option>
						</select>
					</div>
				</div>
				<div ng-controller="mainNavBar" class="check-element animate-show" ng-show="checkedM">
					<label class="col-sm-1 control-label">Vêtement</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control">
								<option>&nbsp;</option>
								<option ng-repeat ="menu in typesM">{{menu.type}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	
		<div class ="row" ng-controller="clothesPage">
			<div class="form-group">
				<label class="col-sm-1 control-label">Blanchiment</label>
					<div class="col-sm-1" >
						<input type="checkbox" id="inlineCheckbox1" value="option1" > 
						<img src="img/ico/Blanchiment_autorise.png" alt='lavage' title="Blanchiment autorisé">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Blanchiment_interdit.png" alt='lavage' title="Blanchiment interdit">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Blanchiment_oxygene.png" alt='lavage' title="Blanchiment oxygéné">
					</div>
				</div>
		</div>
		<div class ="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Lavage</label>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Lavage_30_normal.png" alt='lavage' title="Lavage à 30°C ">
					</div>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Lavage_40_normal.png" alt='lavage' title="Lavage à 40°C ">
					</div>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Lavage_main.png" alt='lavage' title="Lavage à la main">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/nepaslaver.png" alt='lavage' title="Ne pas laver !">
					</div>
			</div>
		</div>
		
		<div class ="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Repassage</label>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Repassage_interdit.png" alt='lavage' title="Repassage interdit ">
					</div>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Repassage_max_110.png" alt='lavage' title="Repassage max 110°C ">
					</div>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Repassage_max_150.png" alt='lavage' title="Repassage max 150°C">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Repassage_max_200.png" alt='lavage' title="Repassage max 200°C">
					</div>
			</div>
		</div>
		<div class ="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Séchage</label>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" > 
						<img src="img/ico/Sechage_tambour_interdit.png" alt='lavage' title="Séchage tambour interdit ">
					</div>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" > 
						<img src="img/ico/Sechage_tambour_modere.png" alt='lavage' title="Séchage tambour modéré ">
					</div>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2"> 
						<img src="img/ico/Sechage_tambour_normal.png" alt='lavage' title="Sechage tambour normal">
					</div>
					
			</div>
		</div>
		
		<div class ="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Séchage</label>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" > 
						<img src="img/ico/Nettoyage_prof_eau_normal.png" alt='lavage' title="Nettoyage professionel eau normal ">
					</div>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2"> 
						<img src="img/ico/Nettoyage_prof_sec_interdit.png" alt='lavage' title="Nettoyage professionel sec interdit">
					</div>
					
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" > 
						<img src="img/ico/symbole-nettoyage-pro.png" alt='lavage' title="Nettoyage professionel">
					</div>
					
			</div>
		</div>
		<div class="row">
			<div class="form-group">
					<label class="col-sm-1 control-label">Image </label>
					<input id="lefile" type="file" style="display:none">
					<div  class="col-sm-2">
						<input id="photoCover" class="form-control" type="text">
						
					</div>
					<div  class="col-sm-">
						
						<button type="submit" class="btn btn-primary"><a class="btn" style="color:white;" onclick="$('input[id=lefile]').click();">Choisir l'image</a></button>
					</div>
				</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Commentaire</label>
				<textarea class="form-control" rows="3"></textarea>
			</div>
		</div>
		<div class="form-group">
			
			<button type="submit" class="btn btn-primary">Laver !</button>
		</div>
	<form>
	
</div>


