	<header>
		<h2>Nouveau vêtement</h2>
	</header>
	
	<div class="container">
	
	<form class="form-horizontal" role="form" ng-submit="submit()" >
		<div class="row">
			<div class="form-group">	
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Marque</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control">
								<option>&nbsp;</option>
								<option ng-repeat ="menu in brands">{{menu.brand}}</option>
						</select>
					</div>
				</div>
			</div>	
		</div>	
		
		<div class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Matiere</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								<option>&nbsp;</option>
								<option ng-repeat ="menu in materials">{{menu.material}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label">Composition</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control" >
								
								<option ng-repeat ="menu in materials">TODO</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
		
			<div class="form-group">
				<div ng-controller="mainNavBar">
					<label class="col-sm-1 control-label" for="simple"> Couleurs</label>
						<div class="col-sm-2">
							<select id="simple" class="form-control">
								<option>&nbsp;</option>
								<option ng-repeat ="menu in colors">{{menu.color}}</option>
								
							</select>
						</div>
					</div>
			
			
			
			<div ng-controller="mainNavBar">
				<div class="col-sm-2">
					<select class="form-control">
						<option>&nbsp;</option>
						<option ng-repeat ="menu in colors">{{menu.color}}</option>
						
					</select>
				</div>
			</div>
			
			
				<div ng-controller="mainNavBar">
					<div class="col-sm-2">
						<select class="form-control">
							<option>&nbsp;</option>
							<option ng-repeat ="menu in colors">{{menu.color}}</option>
							
						</select>
					</div>
				</div>
			
			</div>	
		</div>
		
		<div class ="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Genre</label>
					<div class="col-sm-2"  ng-hide="checkedM">
						<input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="checkedW"> Femme
					</div>
					<div class="col-sm-2" ng-hide="checkedW">
						<input type="checkbox" id="inlineCheckbox2" value="option2" ng-model="checkedM" > Homme
						
					</div>
				</div>
		</div>
		<div class ="row">
			<div class="form-group">
				<div ng-controller="mainNavBar" class="check-element animate-show" ng-show="checkedW">
					<label class="col-sm-1 control-label">Vêtement</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control">
								<option>&nbsp;</option>
								<option ng-repeat ="menu in typesW">{{menu.type}}</option>
						</select>
					</div>
				</div>
				<div ng-controller="mainNavBar" class="check-element animate-show" ng-show="checkedM">
					<label class="col-sm-1 control-label">Vêtement</label>
					 <div class="col-sm-2">
						<select id="simple" class="form-control">
								<option>&nbsp;</option>
								<option ng-repeat ="menu in typesM">{{menu.type}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	
		<div class ="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Blanchiment</label>
					<div class="col-sm-1" >
						<input type="checkbox" id="inlineCheckbox1" value="option1" > 
						<img src="img/ico/Blanchiment_autorise.png" alt='lavage' title="Blanchiment autorisé">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Blanchiment_interdit.png" alt='lavage' title="Blanchiment interdit">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Blanchiment_oxygene.png" alt='lavage' title="Blanchiment oxygéné">
					</div>
				</div>
		</div>
		<div class ="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Lavage</label>
					<div class="col-sm-1" >
						<input type="checkbox" id="inlineCheckbox1" value="option1" > 
						<img src="img/ico/Lavage_30_modere.png" alt='lavage' title="Lavage à 30°C modéré">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Lavage_30_normal.png" alt='lavage' title="Lavage à 30°C normal">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Lavage_30_tres-modere.png" alt='lavage' title="Lavage à 30°C  trés modéré">
					</div>
					<div class="col-sm-1" >
						<input type="checkbox" id="inlineCheckbox1" value="option1" > 
						<img src="img/ico/Lavage_40_modere.png" alt='lavage' title="Lavage à 40°C modéré">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Lavage_40_normal.png" alt='lavage' title="Lavage à 40°C normal">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Lavage_40_tres_modere.png" alt='lavage' title="Lavage à 40°C  trés modéré">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/Lavage_main.png" alt='lavage' title="Lavage à la main">
					</div>
					<div class="col-sm-1">
						<input type="checkbox" id="inlineCheckbox2" value="option2" " > 
						<img src="img/ico/nepaslaver.png" alt='lavage' title="Ne pas laver !">
					</div>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group">
				<label class="col-sm-1 control-label">Commentaire</label>
				<textarea class="form-control" rows="3"></textarea>
			</div>
		</div>
		<div class="form-group">
			
			<button type="submit" class="btn btn-primary">Laver !</button>
		</div>
	<form>
	
</div>
