<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Inscription</h1>

	<!-- show any messages that come back with authentication -->
    <div class='alert alert-danger' ng-controller="signupAlertController" ng-show="show"> <span ng-bind='message'></span> </div>

    <!-- LOGIN FORM -->
    <div ng-controller="signupController" >
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Pseudo</label>
                <input type="text" class="form-control" name="pseudo" ng-model="user.pseudo">
            </div>

            <div class='form-group' style="height: 170px" ng-controller='usersImgController'>
                <div style="left: 0; font-weight: bold">Avatar</div>
                <div class="col-sm-1" ng-repeat="icon in images">
                    <input type="checkbox" name="avatar" ng-model="user.avatar" ng-true-value="{{icon._id}}" ng-false-value="">
                    <img style="max-width: 50px; max-height: 50px" src="{{icon.path}}"/>
                </div>
                <!--<div class="col-sm-1">-->
                    <!--<input type="checkbox" name="avatar" ng-model="user.avatar" ng-true-value="654531641654616" ng-false-value="">-->
                    <!--<img style="max-width: 50px; max-height: 50px" src="/img/users/userf1.png"/>-->
                <!--</div>-->
                    {{user.avatar}}
            </div>

            <div class="form-group" style="margin-top: 20px">
                <label>Email</label>
                <input type="text" class="form-control" name="email" ng-model="user.email">
                {{user.email}}
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" class="form-control" name="password" ng-model="user.password">
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Inscription</button>
        </form>
    </div>
	<hr>

	<p>Déjà un compte? <a href="/#/login">Connexion</a></p>
    <p>Ou retour au <a href="/">menu principal</a>.</p>

</div>

</div>
</body>
</html>